<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= @name %></h1>
<p>
  <strong>Name: </strong> <%= @name %><br>
  <strong>Subject: </strong> <%= @subject %><br>
  <strong>Email: </strong> <%= @email %><br>
  <strong>Phone: </strong> <%= @phone %><br>
</p>
<strong>Content: </strong><br>
<p><%= @content %></p>
</body>
</html>